{{extend 'layout.html'}}

<!-- HEADER -->

{{if auth.user_id is None:}}
    <div class="not_signed_in">
        {{=A('Sign Up', _class='btn btn-primary', _href=URL('default', 'user', args=['register']))}}
        {{=A('Sign In', _class='btn btn-info', _href=URL('default', 'user', args=['login']))}}
        <p></p>
    </div>
{{else:}}
    <h2>Hello {{=auth.user.first_name}}!</h2>
<!--
    <div>{{=A('Add board', _class='btn btn-success', _href=URL('default', 'new_board'))}}</div>
-->
{{pass}}
<div class="class-header">
    <h1> True Review</h1>
    <h3> A peer review system for scientific papers </h3>
</div>


<div>{{=A('New Topic', _class='btn btn-success', _href=URL('default', 'new_topics'))}}</div>
<br>
<div>{{=A('Anonymous Discussions', _class='btn btn-primary', _href=URL('default', 'discussions'))}}</div>

<hr>
<!--
<div>{{=A('Review paper', _href=URL('default', 'review_paper'))}}</div>

<div>{{=A('url test', _href=URL('default', 'new_topics', args=['1512.02162']))}}</div>

{{=XML("<hr>test<hr>")}}
-->

{{=grid}}

<br>

