{{extend 'layout.html'}}

<!-- HEADER -->

{{if auth.user_id is None:}}
    <div class="not_signed_in">
        {{=A('Sign Up', _class='btn btn-primary', _href=URL('default', 'user', args=['register']))}}
        {{=A('Sign In', _class='btn btn-info', _href=URL('default', 'user', args=['login']))}}
        <p></p>
    </div>
{{else:}}
<!--
    <div>{{=A('Add board', _class='btn btn-success', _href=URL('default', 'new_board'))}}</div>
-->
{{pass}}
<div class="class-header">
    <h1> True Review</h1>
</div>


<div>{{=A('New Topic', _href=URL('default', 'new_topics'))}}</div>

<div>{{=A('Review paper', _href=URL('default', 'review_paper'))}}</div>


<div class="class-board-wrapper">
    {{for t in topic_list:}}
        <div class="create-post-a">
            <a href="{{=URL('default', 'paper_list', args=[t.id])}}">
                <div class="create-post-a">
                    <span>{{=t.name}}</span>
                </div>
            </a>
         </div>
    {{pass}}
</div>

