<!DOCTYPE html>

{{extend 'layout.html'}}

<h1 class="create">Create a New Topic</h1>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div id="entryform">
        <div>
            {{=form.custom.begin}}
            Name: <div>{{=form.custom.widget.name}}</div>
            Arxiv Category: {{=A("What's This?", _href='http://arxiv.org/help/api/user-manual#subject_classifications', _target='_blank')}}
                <div>{{=form.custom.widget.arxiv_category}}</div>
            {{=form.custom.submit}}
            {{=form.custom.end}}
        </div>
    </div>
</body>

</html>

