<!DOCTYPE html>
{{extend 'layout.html'}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>{{=A(icon_home + 'Home Page', _href=URL('default', 'index'))}}</div>

<hr>

<div>{{=A('Create New Paper', _href=URL('default', 'new_paper', args=[request.args(0)]))}}</div>

<br>

{{for p in paper_list:}}
    <div class="entry">
        <p class="title">{{=A(p.title, _href=URL('default', 'view_paper_arxiv', args=[request.args(0), p.paper_id]))}}</p>
                                                                <!-- change p.id to p.paper_id for arxiv implementation-->
    </div>
{{pass}}
</body>

<hr>

<div id="target"></div>

{{for index, e in enumerate(elements):}}
    {{id = ids[index].split('/')}}
    {{=id[5]}}
    {{edited_topic = request.args(0)}}
    {{ed=edited_topic.split('.')}}
    {{=ed[0]}}
    <div class="entry">
        <p class="title">{{=A(titles[index], _href=URL('default', 'view_paper_arxiv', args=[request.args(0), id[5]]))}}</p>
                                                                <!-- change p.id to p.paper_id for arxiv implementation-->
    </div>
{{pass}}
<!--
<script id="template" type="text/ractive">

hello
<div>
<div>
<div>
<div>
    <form>
        <input value="{% active_draft %}"></input>
    </form>
    <form>
        <input value="{% active_draft %}"></input>
    </form>
    <form>
        <input value="{% active_draft %}"></input>
    </form>
</div>


hi
</script>
-->

<script>
$(function() {
  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      url: ""  ,
      msg_dict: {},
      //draft_id: "{{'''=draft_id'''}}",
      active_draft: "",
      loading: true
    },
  });

});
</script>




</html>





