<!DOCTYPE html>
{{extend 'layout.html'}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>{{=A(icon_home + 'Home Page', _href=URL('default', 'index'))}}</div>

<hr>

<div>{{=A('Create New Paper', _href=URL('default', 'new_paper', args=[request.args(0)]))}}</div>

<br>

{{for p in paper_list:}}
    <div class="entry">
        <p class="title">{{=A(p.title, _href=URL('default', 'view_paper', args=[request.args(0), p.id]))}}</p>
                                                                <!-- change p.id to p.paper_id for arxiv implementation-->
    </div>
{{pass}}



</body>
</html>