<!DOCTYPE html>
{{extend 'layout.html'}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>{{=A(icon_home + 'Home Page', _href=URL('default', 'index'))}}</div>

<div>{{=A('Main Page', _class='btn btn-info', _href=URL('default', 'index'))}}</div>
<div>{{=A('Profile', _class='btn btn-info')}}</div>

<h1>Review Paper</h1>

<div class="review_text"></div>

<div>{{=form}}</div>

<div>Overall Rating:</div>
<div>{{=A('Submit', _class='btn btn-info')}}</div>

</body>
</html>