<!DOCTYPE html>
{{extend 'layout.html'}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>{{=A(icon_home + 'Home Page', _href=URL('default', 'index'))}}</div>


<div class="class-header">
    <h1> View Paper Details</h1>
</div>

<div>Paper Title</div>
<div>Author Placeholder</div>
<div>Abstract Placeholder</div>
<div>Date Placeholder</div>

<h2>{{=A("Review This Paper",  _class='btn btn-default', _href=URL('default', 'review_paper',
    args=[request.args(0), request.args(1)]), _target='new')}}</h2>

<div class="reviews">
    {{for index,r in enumerate (reversed(reviews)):}}
    <div class="entry">
        <hr>
        <span><strong><u>#{{=index+1}}</strong></u></span><br>
        <span><strong>Review Content: </strong><br>{{=r.review_content}}</span><br>
        <span><strong>Score: </strong>{{=r.score}}</span><br>
    </div>
{{pass}}
</div>



</body>
</html>